---
import "../styles/global.css";
import Header from "../components/Header.jsx";

const navLinks = [
  { name: "Inicio", href: "/" },
  { name: "Features", href: "#features" },
  { name: "Contacto", href: "#contact" },
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi SaaS Landing</title>
  </head>
  <body class="bg-gray-100">
    <Header {navLinks} client:load />
    <slot />
  </body>
</html>
